<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>CARKETPLACE</title>
	<meta name="description" content="Used vehicle databse">
	<meta name="author" content="Tem Tamre">
	<meta name="contact" content="temtamre@gmail.com">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//fonts.googleapis.com/css?family=IBM+Plex+Mono:400,300,800" rel="stylesheet" type="text/css">

	<!-- ICON
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/skeleton.css">

</head>

<body>
	<!-- Title
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<hr>
	<div class="container">
		<h1 style="margin-top: 5%"><a href="https://github.com/ttamre/carketplace" target="_blank" rel="noopener noreferrer"><img src="images/github-logo.svg" height="30rem"></a>(CAR)KETPLACE </h1>
		
	</div>
	<hr>

	<!-- Form
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="container">
		<div class="row">
			<form method="post" action="/" id="formCar">

				<div class="row">
					<!-- Year -->
					<div class="six columns">
						<label for="formYear">Year</label>
						<input name="year" id="formYear" class="u-full-width" type="text" placeholder="ex. 2014">
					</div>
					<!-- Max Price -->
					<div class="three columns">
						<label for="formPrice">Max Price ($)</label>
						<input name="price" id="formPrice" class="u-full-width" type="number" placeholder="ex. 8000">
					</div>
				</div>

				<div class="row">
					<!-- Make -->
					<div class="six columns">
						<label for="formMake">Make</label>
						<input name="make" id="formMake" class="u-full-width" type="text" placeholder="ex. Toyota">
					</div>
					<!-- Drivetrain -->
					<div class="three columns">
						<label for="formDrivetrain">Drivetrain</label>
						<select name="drivetrain" id="formDrivetrain" class="u-full-width">
							<option value="*" selected="selected">*</option>
							<option value="RWD">RWD</option>
							<option value="FWD">FWD</option>
							<option value="4WD">4WD</option>
							<option value="AWD">AWD</option>
						</select>
					</div>
				</div>

				<div class="row">
					<!-- Model -->
					<div class="six columns">
						<label for="formModel">Model</label>
						<input name="model" id="formModel" class="u-full-width" type="text" placeholder="ex. Camry">
					</div>
					<!-- Transmission -->
					<div class="three columns">
						<label for="formTransmission">Transmission</label>
						<select name="transmission" id="formTransmission" class="u-full-width">
							<option value="*" selected="selected">*</option>
							<option value="Manual">Manual</option>
							<option value="Auto">Automatic</option>
						</select>
					</div>
				</div>

				<!-- Submit -->
				<input id="formSubmit" type="submit" value="Submit">

			</form>
		</div>
	</div>
	<hr>

	<!-- Table
	––––––––––––––––––––––––––––––––––––––––––––––––––style="visibility: hidden" -->
	<% if (cars.length != 0) { %>
		<div id="divResults" class="container" >
			<table id="tableResults" class="u-full-width tableResults">
				<h3>results</h3>
				<thead id="tableHead">
					<tr>
						<th>year</th>
						<th>make</th>
						<th>model</th>
						<th>dt</th>
						<th>trans</th>
						<th>price</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% cars.forEach(function(car) { %>
						<tr>
							<td><%= car.year %></td>
							<td><%= car.make %></td>
							<td><%= car.model %></td>
							<td><%= car.drivetrain %></td>
							<td><%= car.transmission %></td>
							<td><%= car.price %></td>
							<td>
								<a href="<%= car.link %>"target="_blank" rel="noopener noreferrer" class="button">view</a>
							</td>
						</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	<% } %>
</body>

</html>